.pokemon-card {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 5px 0;
}

.pokemon-card:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.pokemon-card img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.highlight {
  border: 5px solid #212529;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-content {
  width: 60%;
  height: 70%;
  border: 5px solid #212529;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  max-height: 90vh;
  overflow-y: auto;
}

.pokemon-display {
  flex: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #212529;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pokemon-image {
  z-index: 1;
  width: 300px;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.pokemon-image:hover {
  transform: scale(1.1);
}

.pokemon-info {
  position: relative;
  flex: 3;
  padding: 20px;
  background-color: #F8F9FA;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.close-button {
  top: 10px;
  right: 10px;
  background-color: #E04D59;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button:hover {
  background-color: #BE414C;
}

.category-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.category-button {
  background-color: #E04D59;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.category-button:hover {
  background-color: #BE414C;
}

.category-content {
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
  padding: 20px;
  background-color: #FFF;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content-section {
  display: none;
  margin-top: 20px;
}

.stat-bar {
  display: flex;
  align-items: center;
  margin: 5px 0;
  background-color: #f1f1f1;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  position: relative;
  font-size: 0.9rem;
  font-weight: bold;
  padding-left: 10px;
}

.stat-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--stat-value);
  background-color: var(--stat-color);
  z-index: 0;
  border-radius: 5px;
}

.stat-bar > span {
  position: relative;
  z-index: 1;
}

.stat-name {
  flex: 1;
}

.stat-value {
  margin-left: auto;
  padding-right: 10px;
}

.stat-bar span {
  position: relative;
  z-index: 1;
}

.evo-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.evo-stage img {
  width: 80px;
  height: 80px;
  border: 2px solid #ddd;
  border-radius: 10px;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.evo-stage.current img {
  border-color: #1A8755;
  transform: scale(1.1);
}