.header-container {
  background-color: #212529;
  padding: 10px 20px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #212529;
}

.pokemon-title {
  height: 50px;
}

.search-input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f9fa;
  color: #34383c;
  outline: none;
  width: 100%;
  max-width: 300px;
  transition: border-color 0.3s ease;
}

.pokedex-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.pokemon-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
  justify-items: center; 
  margin-bottom: 40px;
}

#pokemon-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr); 
  gap: 15px; 
  justify-items: center; 
  padding: 20px;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #f8f8f8; 
}

.pokemon-card img {
  width: 100px; 
  height: 100px;
  object-fit: cover; 
}

.pokemon-card:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Responsive Anpassungen */
@media (max-width: 1200px) {
  #pokemon-container {
    grid-template-columns: repeat(6, 1fr); 
  }
}

@media (max-width: 800px) {
  #pokemon-container {
    grid-template-columns: repeat(4, 1fr); 
  }
}

@media (max-width: 500px) {
  #pokemon-container {
    grid-template-columns: repeat(2, 1fr); 
  }
}

.pokemon-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #212529;
  text-align: center;
}

.type-grass {
  background-color: #1a8755;
  color: white;
}

.type-water {
  background-color: #0d6efd;
  color: white;
}

.type-fire {
  background-color: #e04d59;
  color: white;
}

.type-electric {
  background-color: #ffc105;
  color: white;
}

.type-rock {
  background-color: #6c757d;
  color: white;
}

.type-normal {
  background-color: #A8A77A;
  color: white;
}

.type-fairy {
  background-color: #EC8FE6;
  color: white;
}

.type-psychic {
  background-color: #F95587;
  color: white;
}

.type-fighting {
  background-color: #D3425F;
  color: white;
}

.type-poison {
  background-color: #A33EA1;
  color: white;
}

.type-ghost {
  background-color: #7B62A3;
  color: white;
}

.type-bug {
  background-color: #A6B91A;
  color: white;
}

.type-flying {
  background-color: #A98FF3;
  color: white;
}

.type-steel {
  background-color: #5A5A5A;
  color: white;
}

.type-dragon {
  background-color: #0F6AC0;
  color: white;
}

.type-ground {
  background-color: #DA7C32;
  color: white;
}

.type-hp {
  --stat-color: #FF5959;
}

.type-attack {
  --stat-color: #F5AC78;
}

.type-defense {
  --stat-color: #FAE078;
}

.type-special-attack {
  --stat-color: #9DB7F5;
}

.type-special-defense {
  --stat-color: #A7DB8D;
}

.type-speed {
  --stat-color: #FA92B2;
}

.load-more-btn {
  display: block; 
  margin: 20px auto; 
  padding: 10px 20px;
  background-color: #212529;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

#load-more-button:hover {
  background-color: #be414c;
}

.spinner-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.spinner-btn::before {
  content: "";
  border: 5px solid #f3f3f3; 
  border-top: 5px solid #212529; 
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .pokemon-card img {
    width: 120px;
    height: 120px;
  }

  .pokemon-card {
    padding: 10px;
  }

  .search-input {
    width: 140px;
  }
}

@media (max-width: 400px) {
  .pokemon-card img {
    width: 100px;
    height: 100px;
  }

  .pokemon-card {
    padding: 8px;
    font-size: 0.9rem;
  }

  .header-container {
    padding: 10px;
  }

  .search-input {
    font-size: 0.9rem;
    width: 120px;
  }
}